# OS-specific files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Node / JSDoc
node_modules/

# Doxygen (optional if you want docs tracked)
# docs/

# C++ build outputs
*.o
*.obj
*.exe
*.dll
*.pdb
*.suo
*.log

# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.xcodeproj
*.xcworkspace

# Misc
*.user
*.userprefs
*.tmproj
